html {
  background: rgb(102, 67, 1);
}

scene {
  width: 1280px;
  height: 750px;
  /*display: inline-block;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  height: 90%;
  width: 100%;
}

#storyDiv {
  position: absolute;
  top: 250px;
  width: 1280px;;
  opacity: 0;
  color: white;
  font-size: 40px;
  text-align: center;
}

#storyDiv.fade {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#storyDiv.fadeOut {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#drunknessSight {
  width: 99%;
  height: 99%;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.gameMenu{
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  z-index: 10;
}

speech {
  position: absolute;
  top:540px;
  left: 150px;
  color: beige;
  background-color:rgb(109, 67, 48);
  border: double 8px rgb(49, 19, 6);
  width: 40%;
  height: 10vh;
  padding: 10px;;
}

speech name {
  display: block;
  margin-bottom: 20px;
  color: rgb(209, 217, 224);
}

speech content {
  color: rgb(209, 217, 224);
}

.dialogBox {
  background-color: rgb(55, 109, 209);
  width: 480px;
  border: double;
  margin-left: 500px;
  margin-top: 300px;
}
.dialogBox button {
  background-color: rgb(160, 186, 235);
  border: double;
  margin: 5px;
  width: 150px;
}

.dialogBox2 {
  background-color: rgb(55, 109, 209);
  width: 280px;
  border: double;
  margin-left: 600px;
  margin-top: 300px;
}
.dialogBox2 button {
  background-color: rgb(160, 186, 235);
  border: double;
  margin: 10px;
  width: 250px;
  height: 50px;
}